<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= link_to '１０歳未満でも楽しめる',  new_user_registration_path, class: "btn-block btn btn-outline-warning"%>

      テキスト

      <%= link_to '１０歳未満でも楽しめる',  new_user_registration_path, class: "btn-block btn btn-outline-warning"%>
    </div>

    <div class="col-lg-4">
      <%= link_to 'お手軽に楽しめる',  new_user_registration_path, class: "btn-block btn btn-outline-primary"%>
    </div>

    <div class="col-lg-4">

    </div>

  </div>
</div>